$colorLetras: rgb(248, 64, 32);
$color1: brown;

h1{
    font-weight: bold;
    font-size: 30px;
    color: $colorLetras;
    text-align: center;
}

h2{
    font-size: 35px;
    color: $colorLetras;
    text-align: center;
    padding-top: 20px;
}

footer{
    color: $color1;
}
